*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

hr{
    width: 72%;
    border: 1px solid #c1cccd;
    margin-bottom: 15px;
}

.box{
    padding-left: 22%;
    width: 76%;
}
.prev{
    color: #BEBEC0;
    font-size: 26px;
    margin-bottom: 20px;
}
.facts li{
    color: #798E89;
    margin-top: 32px;
    font-size: 20px;
}
.facts p{
    color: #000;
    font-size: 16px;
    margin-top: 10px;
}
.footer{
    height: 120px;
}